name: Run tox
on: [push]
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9]
    steps:
      - name: Check out source code
        uses: actions/checkout@v2

      - name: Set up Python version ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install --upgrade pip wheel setuptools
          pip install --upgrade tox tox-py

      - name: Run tox targets for ${{ matrix.python-version }}
        run: tox --py current
